.footer-body {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px rgba(0,0,0,.14), 0 1px 10px rgba(0,0,0,.12);
  bottom: 0;
  background: dimgrey;
}
.footer-title {
  float: left;
}
.contact-list {
  display: block;
  list-style: none;
  float:left;
}
li{
  display: inline;
  float:left;
}
