<footer class="footer-body">
  <div class="footer-main">
    <div class="footer-title">
      <span>&copy; 2018-{{this.currentYear}}</span>
    </div>
    <ul class="contact-list">
      <li><span>contact:</span></li>
      <li><a href="https://www.linkedIn.com/in/eric-haoli" target="_blank"><i nz-icon nzType="linkedin" nzTheme="fill"></i></a></li>
      <li><a href="http://github.com/eric-li-hao" target="_blank"><i nz-icon nzType="github" nzTheme="fill"></i></a></li>
      <li><a ><i nz-icon nzType="mail" nzTheme="outline"></i></a></li>
    </ul>
    <ul class="brand-list">
      <li><span>build with:</span></li>
      <li><a><i class="fab fa-angular"></i></a></li>
      <li><a></a></li>
      <li><a></a></li>
    </ul>
  </div>
</footer>
