<footer class="footer-container">
  <div class="footer-info-container">
    <div class="footer-time">
      © 2017—2020
    </div>
    <div class="footer-creator">
      Eric Li created by:
    </div>
    <div class="footer-tool">
      <a href="https://angular.io/" target="_blank"><i class="fab fa-angular foot-icon"></i></a>
      <a href="https://nodejs.org/" target="_blank"><i class="fab fa-node foot-icon"></i></a>
      <a href="https://github.com/eric-li-hao" target="_blank"><i class="fab fa-github foot-icon"></i></a>
      <a href="https://www.npmjs.com/" target="_blank"><i class="fab fa-npm foot-icon"></i></a>
      <a href="https://fontawesome.com/" target="_blank"><i class="fab fa-font-awesome foot-icon"></i></a>
      <a href="https://www.apple.com/ca/imac/" target="_blank"><i class="fab fa-apple foot-icon"></i></a>
    </div>
  </div>
</footer>
