* {
  border: solid 1px black;
}

.nav-container {
}
@media only screen and (min-width: 1001px) {
  .nav-row-container {
    margin-left: 35%;
  }
  .nav-sidebar-container {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  .nav-row-container {
    display: none;
  }
  .nav-sidebar-container {
    display: flex;
  }
}

.sidebar-button {
  background: #845EC2;
}
.sidebar-button:focus {
  background: #008CCC;
}

.sidebar-button:hover {
  background: #008CCC;
}
