.sidenav-container {
  height: 100%;
  background: black;
}

.sidenav {
  z-index: 99;
  margin-top: 65px;
  width: 300px;
  background: #cfd8dc;
}

.toolbar{
  z-index: 100;
  height: 65px;
  width: 100%;
  background: aqua;
}

.items {
  flex: 1 1 auto;
  height: 65px;
  background: burlywood;
}

.item {
  float: right;
  width: 100px;
  height: 65px;
  margin-left: 20px;
  margin-right: 20px;
}

.eric{
  width: 80px;
  text-align: center;
  background: #336699;
}

.sidebar-button {
  display: flow;
}

@media only screen and (min-width:768px){
  .hidden-md-and-up{
    display:none!important
  }
}

@media only screen and (max-width:767px){
  .hidden-sm-and-down{
    display:none!important
  }
}
