<mat-toolbar class="toolbar">
  <button
    class="hidden-md-and-up"
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()">
    <mat-icon aria-label="Side nav toggle icon" style="text-transform: lowercase">menu</mat-icon>
  </button>
  <span class="eric">navigation</span>
  <div class="items">
    <div class="hidden-sm-and-down">
      <a mat-button class="item"  [matMenuTriggerFor]="menu">contact</a>
      <mat-menu #menu="matMenu">
        <a mat-menu-item>Item 1</a>
        <a mat-menu-item>Item 2</a>
      </mat-menu>
      <a mat-button routerLink="/project" class="item">project</a>
      <a mat-button routerLink="/home" class="item">home</a>
    </div>
  </div>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport mode="over" [(opened)]="sidebarVisible">
    <mat-nav-list class="sidebar-button">
      <button>home</button>
      <button>project</button>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
