<mat-toolbar class="toolbar">
  <button
    class="hidden-md-and-up"
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()">
    <mat-icon aria-label="Side nav toggle icon" style="text-transform: lowercase">menu</mat-icon>
  </button>
  <span class="eric">navigation</span>
  <div class="items">
    <div class="hidden-sm-and-down">
      <a mat-button class="item" style="width: 120px" [matMenuTriggerFor]="menu">contact<mat-icon class="arrow_icon">keyboard_arrow_down</mat-icon></a>
      <mat-menu #menu="matMenu">
        <a mat-menu-item href="https://www.linkedIn.com/in/eric-haoli" target="_blank"><fa-icon [icon]="['fab', 'linkedin']"></fa-icon><span>linkedin</span></a>
        <a mat-menu-item href="http://github.com/eric-li-hao" target="_blank"><fa-icon [icon]="['fab', 'github-square']"></fa-icon><span>github</span></a>
        <a mat-menu-item><fa-icon [icon]="['fas', 'envelope']"></fa-icon><span>email</span></a>
      </mat-menu>
      <a mat-button routerLink="/project" class="item">project</a>
      <a mat-button routerLink="/home" class="item">home</a>
    </div>
  </div>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport mode="over" [(opened)]="sidebarVisible">
    <mat-nav-list>
      <a mat-list-item routerLink="/home">home</a>
      <a mat-list-item routerLink="/project">project</a>
      <a mat-list-item style="color: gray" disabled="true">contact me</a>
      <a mat-list-item href="https://www.linkedIn.com/in/eric-haoli" target="_blank"><fa-icon [icon]="['fab', 'linkedin']"></fa-icon><span>linkedin</span></a>
      <a mat-list-item href="http://github.com/eric-li-hao" target="_blank"><fa-icon [icon]="['fab', 'github-square']"></fa-icon><span>github</span></a>
      <a mat-list-item ><fa-icon [icon]="['fas', 'envelope']"></fa-icon><span>email</span></a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
