@media only screen and (max-width: 1000px) {
  .main-container {
    height: 100%;
  }
  .main-nav {
    display: inline-block;
    width: 15%;
  }
  .body-container {
    display: inline-block;
    width: 85%;
    height: 100%;
  }
}
