<div class="project">
  <mat-accordion (cdkDropListDropped)="onDrop($event)" cdkDropList>
    <mat-expansion-panel *ngFor="let pro of projects" class="ex-panel" cdkDrag cdkDragLockAxis="y" >
      <mat-expansion-panel-header class="ex-header" cdkDragHandle >
        <mat-panel-title class="ex-title">
          <div class="project-title">
            <mat-icon>drag_indicator</mat-icon>
            <div class="pro-title-name"><span style="padding-left: 5px">{{pro.name}}</span></div>
          </div>
          <div class="project-info">
            <div class="mini-des">
              <div style="width: 40%; float: left">dsfasdfas</div>
              <div style="width: 60%; float: left">{{pro.mini_describe}}</div>
            </div>
            <div class="project-bottom-title"><fa-icon [icon]="['fab', 'github']" style="margin-left: 86%"></fa-icon><div style="margin-left: 5px">GITHUB</div></div>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="ex-body">
        <div class="body-img">

        </div>
        <div class="body-des">
          <p>{{pro.describe}}</p>
        </div>
        <div class="project-bottom-link"><fa-icon [icon]="['fab', 'github']" size="2x" [spin]="true" style="float: right"></fa-icon></div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

</div>
