.project {
  height: auto;
  width: 100%;
  margin-top: 100px;
  padding-bottom: 85px;
  background: transparent;
}
.ex-panel {
  width: 60%;
  margin-left: 20%;
  margin-bottom: 100px;
}
.ex-header {
  min-height: 200px;
  background: darkgray;
}
.ex-panel:hover {
  background: gray;
}
:host /deep/ .mat-expansion-panel-header.mat-expanded {
  min-height: 1px!important;
  max-height: 1px;
}
:host /deep/ .mat-expansion-panel-header.mat-expanded:focus {
  background: gray;
}
:host /deep/ .mat-expansion-panel-body {
  min-height: 400px;
  background:lightgray;
}
:host /deep/ .mat-expansion-indicator {
  height: 150px;
}
.ex-title{
  display: inline-block;
  height: 185px;
  margin-top: 10px;
}
.project-title {
  display: flex;
  height: 25px;
  width: auto;
}
.pro-title-name {
  width: 100%;
  border-bottom: 2px solid wheat;
}
.project-info {
  display: inline-block;
  white-space: pre-line;
  height: 150px;
  margin-top: 10px;
  width: 100%;
  alignment: center;
}
.mini-des {
  height: 115px;
  margin-left: 30px;
  display: inline-block;
  float: left;
}
.ex-body {
  height: 360px;
  margin-top: 20px;
}
.body-img {
  height: 150px;
}
.body-des {
  height: 210px;
  white-space: pre-line;
}
.project-bottom-title {
  height: 20px;
  border-top: 2px solid wheat;
  width: 96%;
  padding-top: 3px;
  margin-left: 4%;
  display: flex;
}
.project-bottom-link {
  height: 28px;
  border-top: 2px solid wheat;
  width: 96%;
  padding-top: 3px;
  display: inline-block;
}
