<div class="project">
  <mat-accordion class="acc" (cdkDropListDropped)="onDrop($event)" cdkDropList>
    <mat-expansion-panel *ngFor="let pro of projects" class="ex-panel" cdkDrag cdkDragLockAxis="y" >
      <mat-expansion-panel-header class="ex-header" cdkDragHandle >
        <mat-panel-title class="ex-title">
          <mat-icon class="handle-icon drag-drop">drag_indicator</mat-icon>
          <div class="two">
            <span class="name">{{pro.name}}</span>
            <span class="info">sodjflsandflashdflnsldfjsaopdfjslkdfnlsadhjflksahfklj;sahfkjl;sadhf;klsdajflsadhfsabdfjkbsadfkjwhegirfhsdkjfberkjlsldfhbnjsdkafh;sahflk;jsklf
          fsdflksflkshfjklahsfluwieobfklsjbfkjlsahfdlkhlk;sjf;ksfghuibvfwa
          sdhfoabghfkjdsgkl</span>
          </div>

        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field>
        <mat-label>First name</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Age</mat-label>
        <input matInput type="number" min="1">
      </mat-form-field>
    </mat-expansion-panel>
  </mat-accordion>

</div>
