<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <div>
    With my wide-ranging technical skills, superior capacity to tackle time-sensitive projects, and proven ability to
    effectively lead project teams, I am confident that I will exceed your expectations from my first day on the job.
    Having recently obtained my Bachelor of Science in Computer Science from the University of Saskatchewan,
    I have become the go-to resource for programming expertise and software development among my peers.
    I have held key leadership and development positions in the completion of multiple projects, successfully overseeing
    design execution by coordinating collaborative development efforts, as well as providing technical expertise in
    writing optimal front-end and back-end programming. Detail-oriented and conscious of multi-level project management
    responsibilities, I am adept in rapidly resolving problems with designs in order to deliver an effective finished
    product within project deadlines.
  </div>
</body>
</html>
